<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revise</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Revise with audio</h1>
    <form action="/audio" enctype="multipart/form-data" method="POST">
        <label for="audioFileChooser"> Upload an audio file:</label><br><br>
        <input name="audio" id="audioFileChooser" accept=".wav" type="file"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>